hr {
  border: 10px solid green;
}

li{
  margin: 10px 0;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Console";
  color:#008F1F;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}