hr{
border: 10px solid gray;
}

p{
color:white;
font-family:Verdana;
}

a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}

#all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
}

h4{
color:orange;
font-family:Verdana;
}
